/* Tag selector to select the 'body' element */
body {
  background: #00b3e6;
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  width: 700px;
  margin: auto;
  font-family: Helvetica Neue;
  background: white;
  padding: 30px;
}

/* ID selector to select the element with id 'main-header' */
#main-header {
  font-size: 22px;
  color: red;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  font-style: italic;
}
