/* Tag selector to select the 'body' element */
body {
  /* Your code here! */
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  /* Your code here! */
}

/* ID selector to select the element with id 'main-header' */
#main-header {
  /* Your code here! */
  color:red;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  /* Your code here! */
}
